<div class="container" id = "home-container">
  <div class="jumbotron text-center ">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">Blogging is good for your career. A well-executed blog sets you apart as an expert in your field.</p>
    <hr class="my-4">
    <p>The first thing you learn when you’re blogging is that people are one click away from leaving you. So you’ve got to get to the point, you can’t waste people’s time, you’ve got to give them some value for their limited attention span</p>
    
    <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg"%>
  </div>
</div>