<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Ojas Bansal", "https://www.linkedin.com/in/ojas-bansal/", target: :_blank %></small>
  </div>
</footer>
